input{
  margin-top: 10px;
  border-radius: 10px;
  padding: 10px;
  padding-right: 0;
  width: 50%;
  border: 1px solid #D1D5DB;
}
input::placeholder{
  color: #D1D5DB;

}

.btn{
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
  width: fit-content;
  font-weight: 600;
}

.btn-cancel{
  border: 1px solid #D1D5DB;
  background-color: white;
}

.btn-submit{
  background-color: #4F46E5;
  color: white;
}

.btn-generate{
  background: rgba(224, 231, 255, 1);
  color: #4F46E5;
}


.form-wrapper{
  padding: 3%;
  margin-left: auto;
  margin-right: auto;
  width: 70vw;
  /* background-color: aqua; */
}
.gray{
  color: #6B7280;
}

.button-section{
  display: flex;
  justify-content: space-between;
}
.d-flex{
  display: flex;
}
.line{
  width: 45%;
  height: 1px;
  background-color: #6B7280;
}
.clear-user{
  color: red;
  font-weight: 600;
  text-align: center;
  width: 30%;
  cursor: pointer;
}
